<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <uses-permission
        android:name="android.permission.USE_EXACT_ALARM"
        tools:ignore="ExactAlarm" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="24"
        tools:overrideLibrary="org.difft.android.rust_encryption_sdk" />

    <application>
        <activity
            android:name=".ui.ChatActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ChatForwardMessageActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />

        <service
            android:name="org.thoughtcrime.securesms.jobmanager.JobSchedulerScheduler$SystemService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="NewApi" />

        <activity
            android:name=".group.GroupChatContentActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.thoughtcrime.securesms.DummyActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <service
            android:name="org.thoughtcrime.securesms.service.KeyCachingService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".contacts.contactsdetail.ContactDetailActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".contacts.contactsremark.ContactSetRemarkActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".group.CreateGroupActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".group.GroupInfoActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".group.GroupGlobalNotificationSettingsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".group.GroupNotificationSettingsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".group.GroupMembersSearchActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".group.GroupManagementActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".group.GroupModeratorsManagementActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".group.GroupInviteActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".group.GroupSelectMemberActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".group.GroupEditInfoActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".setting.ChatArchiveSettingsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.SingleChatSettingActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.GroupInCommonActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.EmojiReactionActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.MessageDetailActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false" />
        <activity
            android:name="org.thoughtcrime.securesms.mediasend.v2.MediaSelectionActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".search.SearchMessageActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".invite.InviteCodeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <receiver
            android:name="org.thoughtcrime.securesms.util.MessageNotificationUtil$NotificationDismissReceiver"
            android:exported="false" />

        <receiver
            android:name=".common.StopCriticalAlertSoundReceiver"
            android:exported="false" />

        <service
            android:name="org.thoughtcrime.securesms.messages.MessageForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="remoteMessaging" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.INSERT" />
            <data android:mimeType="vnd.android.cursor.item/event" />
        </intent>
    </queries>

</manifest>